name: AMR2MQTT
version: "2.1.2"
slug: amr2mqtt
description: "Advanced Meter Reader to MQTT bridge"
url: https://github.com/alvinchen1/hassio-addons/tree/main/amr2mqtt
arch:
  - amd64
  - aarch64
  - armv7
startup: services
init: false
stage: stable
host_network: true

options: {}
schema: {}